@page
@model asp_presentacion.Pages.Ventanas.DetallesFormatosModel
@{
    ViewData["Titulo"] = "DetallesFormatos";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Formatos</h3>
            </div>
            <div align="left"
                 class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />

            </div>


            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input id="flNombre"
                       class="cts_forms form-control"
                       asp-for="@Model.Filtro!.TipoFormato"
                       placeholder="Nombre" />
                <br />

                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>
                                TipoFormato
                            </th>
                            <th>
                                Material
                            </th>
                         
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>
                                        @elemento.TipoFormato
                                    </td>

                                    <td class="cl_hidden">
                                        @elemento.Material
                                    </td>

                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>

