@page
@model asp_presentaciones.Pages.Ventanas.DiscosModel
@{
    ViewData["Titulo"] = "Discos";
}
<center>
    <div>
        <form method="POST" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Discos</h3>
            </div>
            <div align="left" class="bt_panel_buttons">
                <input type="submit" value="Refrescar" asp-page-handler="BtRefrescar" class="btn btn-secondary"
                    disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit" value="Nuevo" asp-page-handler="BtNuevo" class="btn btn-secondary"
                    disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit" value="Guardar" asp-page-handler="BtGuardar" class="btn btn-secondary"
                    disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit" value="Cancelar" asp-page-handler="BtCancelar" class="btn btn-secondary"
                    disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas || Model.Accion ==
                        lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden" asp-for="@Model.Actual!.Id" />
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden" asp-for="@Model.Actual!.Artista" />
                <input type="hidden" asp-for="@Model.Actual!.Marca" />
                <input type="hidden" asp-for="@Model.Actual!.NombreDisco" />
                <input type="hidden" asp-for="@Model.Actual!.DuracionDisco" />
                <input type="hidden" asp-for="@Model.Actual!.FechaLanzamiento" />
                <input type="hidden" asp-for="@Model.Actual!.Imagen" />
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Disco</h3>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Artista</label>
                        <div class="col-lg-6">
                            <select id="nmArtista" class="cts_forms form-control" asp-for="@Model.Actual!.Artista"
                                asp-items="@(new SelectList(Model.Artistas, "Id", "NombreArtista"))"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Nombre</label>
                        <div class="col-lg-6">
                            <input id="nmNombreDisco" class="cts_forms form-control" asp-for="@Model.Actual!.NombreDisco" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Marca</label>
                        <div class="col-lg-6">
                            <select id="nmMarca" class="cts_forms form-control" asp-for="@Model.Actual!.Marca"
                                asp-items="@(new SelectList(Model.Marcas, "Id", "NombreMarca"))"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Duracion</label>
                        <div class="col-lg-6">
                            <input id="nmDuracionDisco" class="cts_forms form-control"
                                asp-for="@Model.Actual!.DuracionDisco" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Fecha de Lanzamiento</label>
                        <div class="col-lg-6">
                            <input id="nmFechaLanzamiento" class="cts_forms form-control"
                                asp-for="@Model.Actual!.FechaLanzamiento" type="date" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Imagen</label>
                        <div class="col-lg-6">
                            <input id="nmImagen" class="cts_forms form-control" asp-for="@Model.Actual!.Imagen"
                                type="text" />
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden" asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
            }

            @if (TempData["MensajeError"] != null)
            {
                <div class="alert alert-danger">@TempData["MensajeError"]</div>
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">Mensaje</h2>
                            <h4 align="left">Desea borrar la entidad?</h4>
                            <h6 align="left">@Model.Actual!.NombreDisco, @Model.Actual!.Artista</h6>
                            <br /><br />
                            <input type="submit" value="Borrar" asp-page-handler="BtBorrar" class="btn btn-secondary" />
                            <input type="submit" value="Cerrar" asp-page-handler="BtCancelar" class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("MensajeError"))
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">Mensaje</h2>
                            <h4 align="left">@ViewData["MensajeError"]</h4>
                            <br /><br />
                            <input type="submit" value="Cerrar" asp-page-handler="BtCancelar" class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("MensajeExito"))
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">Mensaje</h2>
                            <h4 align="left">@ViewData["MensajeExito"]</h4>
                            <br /><br />
                            <input type="submit" value="Cerrar" asp-page-handler="BtCancelar" class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas || Model.Accion ==
                        lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input id="flNombre" class="cts_forms form-control" asp-for="@Model.Filtro!.NombreDisco"
                    placeholder="Nombre" />
                <br />
                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>Artista</th>
                            <th>Marca</th>
                            <th class="cl_hidden">NombreDisco</th>
                            <th class="cl_actions">DuracionDisco</th>
                            <th class="cl_actions">FechaLanzamiento</th>
                            <th class="cl_actions">Imagen</th>
                            <th class="cl_actions">Accion</th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>@elemento._Artista!.NombreArtista</td>
                                    <td>@elemento._Marca!.NombreMarca</td>
                                    <td class="cl_hidden">@elemento.NombreDisco</td>
                                    <td class="cl_hidden">@elemento.DuracionDisco</td>
                                    <td class="cl_hidden">@elemento.FechaLanzamiento</td>
                                    <td class="cl_hidden">@elemento.Imagen</td>
                                    <td>
                                        <input type="submit" value="Modificar" asp-page-handler="BtModificar"
                                            class="btn btn-secondary" asp-route-data="@elemento.Id" />
                                        <input type="submit" value="Borrar" asp-page-handler="BtBorrarVal" class="btn btn-secondary"
                                            asp-route-data="@elemento.Id" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>
